{% extends 'core/base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}
<h1>Lista de Tarefas</h1>
<table class="table">
    <thead>
        <tr>
            <!-- <th>Nome</th> -->
            <th>Descrição</th>
            <th>Projeto</th>
            <th>Data de Criação</th>
            <th>Data de Conclusão</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for tarefa in tarefas %}
        <tr>
            <!-- <td>{{ tarefa.nome }}</td> -->
            <td>{{ tarefa.descricao }}</td>
            <td>{{ tarefa.projeto.nome }}</td>
            <td>{{ tarefa.data_criacao }}</td>
            <td>{{ tarefa.data_conclusao }}</td>            
            <td>
                <a href="{% url 'editar_tarefa' tarefa.id %}" class="btn btn-warning btn-sm">Editar</a>
                <a href="{% url 'excluir_tarefa' tarefa.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'nova_tarefa' %}" class="btn btn-success">Nova Tarefa</a>
{% endblock %}
